body {
    min-height: 100vh;
    width: 100%;
    background-color: #fcfcce;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
}
#header {
    height: 10%;
    background-color: #114232;
    color: #FFC470;
    z-index: 1000;
    box-shadow: 0px 0px 5px black;
}
#header a {
    text-decoration: none;
}
#header a h1 {
    color: #FFC470;
    margin-left: 3%;
}
#a_div {
    background-color: #87A922;
    padding: 0.7%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_base {
    text-decoration: none;
    color: #114232;
    background-color: #AFD198;
    /* padding: 4px; */
    transition-duration: 0.5s;
    transition-property: all;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
}

.conteiner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /*чтобы переносить элементы на другую строчку*/
    /* align-items: center; */
    justify-content: center; /*Начало строки flex-start*/
}
.topic_card {
    /* height: 28%;
    width: 23%; */
    height: clamp(236.828px, 8vw ,396.828px);
    width: clamp(335.719px, 5vw ,525.719px);
    border-radius: 16px;
    margin-top: 1%;
    margin-left: 1%;
    background-color: #087752;
    /* box-shadow: 10px 10px 20px black; */
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    /* cursor: pointer; */
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: all;
}
.image_topic_view { /*1920x1080*/
    /* height: 216px; */
    /* width: 384px; */
    width: clamp(315.719px, 5vw ,525.719px);
    border-radius: 16px;
    margin-top: 3%;
}

#topic_head {
    width: 40%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#title_discription {
    text-align: left;
}
#window {
    height: 85%;
    width: 75%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1%;
    border-radius: 16px 16px 0px 0px;
    background-color:#087752;
    overflow-y: scroll;
}
#window::-webkit-scrollbar {
    height: 45%;
    width: 20%;
}

.chapter {
    width: 22%;
    margin-left: 1%;
    margin-top: 1%;
}
.chapter a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 12px;
    margin-right: 1%;
}
.chapter_icon {
    width: 40px;
}

/* .question {
    
} */
.question_a {
    height: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 1%;
}

/*user*/
.text_message_user {
    width: 30%;
    padding: 3px 8px;
    border: 2px solid #000000;
    margin-left: auto; 
    margin-right: 0;
    background-color: #31d810;
    border-radius: 16px 16px 0px 16px;
    margin-bottom: 20px;
}
.text_message_user p {
    width: 15%;
    margin-left: auto; 
    margin-right: 0;
}
.image_message_user {
    width: 100%;
    float: right;
    position: relative;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 16px 16px 0px 16px;
}
/*user*/
/*interlocutor*/
.text_message_interlocutor {
    width: 30%;
    padding: 3px 8px;
    border: 2px solid #000000;
    margin-right: auto; 
    margin-left: 0;
    border-radius: 16px 16px 16px 0px;
    background-color: rgb(209, 209, 209);
}
.image_message_interlocutor{
    width: 100%;
    margin-top: 1.5%;
    border-radius: 16px 16px 16px 0px;
}
/*interlocutor*/
.delete_button {
    height: 30px;
    width: 30px;
    background-color: red;
    border: none;
    border-radius: 32px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    left: 3px;
    cursor: pointer;
}

#text_bar {
    height: 15%;
    width: 77%;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
    background-color: #087752;
    border-top: 2px solid #000000;
    border-radius: 0px 0px 16px 16px;
}
#text_bar_form {
    width: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2%;
}
#message_input {
    height: 30%;
    width: 90%;
    font-size: 20px;
    padding: 2%;
    border-radius: 16px;
    border: none;
    margin: 1%;
}
#image_input {
    margin-left: 25%;
}
#id_image {
    cursor: pointer;
}
#text_button {
    height: 38px;
    width: 38px;
    left: 0;
    right: 0;
    margin: 0 auto;
    float: right;
    position: relative;
    bottom: 40px;
    border: none;
    border-radius: 48%;
    background-color: #31d810;
    background-size: cover;    
    background-position: center;
    background-image: url('/media/for_site/send_icon_183897.png');

    cursor: pointer;
}
/* #text_button_image {
    height: 22px;
    width: 22px;
} */

#footer {
    padding: 0.5%;
    margin-top: auto;
    background-color: #114232;
    color: #FFC470;
}
#footer a {
    color: #FFC470;
}