{% extends "card/base.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class='inputs_parameters_move'>
            <div class='parameters_move'>
                <h4>Имя пользователя</h4>
                <input id='username' class='input' value="" type="text" name="username">
            </div>
            <div class='parameters_move'>
                <h4>Введите Email</h4>
                <input id='email' class='input' value="" type="text" name="email">
            </div>
            <div class='parameters_move'>
                <h4>Введите своё имя</h4>
                <input id='first_name' class='input' value="" type="text" name="first_name">
                <p id='first_name' hidden >Данные введены не корректно!</p>            
            </div>
            <div class='parameters_move'>
                <h4>Введите свою фамилию</h4>
                <input id='last_name' class='input' value="" type="text" name="last_name">
                <p id='last_name' hidden >Данные введены не корректно!</p>            
            </div>
            <div class='parameters_move'>
                <h4>Введите пароль</h4>
                <input id='password1' class='input' value="" type="password" name="password1">
            </div>
            <div class='parameters_move'>
                <h4>Повторите ранее введенный пароль</h4>
                <input id='password2' class='input' value="" type="password" name="password2">
            </div>
            <div class='parameters_move'>
                <h4>Введите номер телефона</h4>
                <input id='phone_valid' class='input' value="" type="text" name="phone_number">
                <p id='phone_error' hidden >Данные введены не корректно!</p>
            </div>
            <div class='parameters_move'>
                <h4>Введите свой возаст</h4>
                <input id='age_valid' class='input' value="" type="text" name="birth_date">
                <p id='age_error' hidden >Данные введены не корректно!</p>            
            </div>
            <div class='parameters_move'>
                <h4>Введите свой город</h4>
                <input id='city_valid' class='input' value="" type="text" name="city">
                <p id='city_error' hidden >Данные введены не корректно!</p>            
            </div>
        </div>
        <button type='submit'> 
            <p>Сохранить</p>
        </button>
    </form>
{% endblock %}