{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href={% static "css/base.css" %}>

    <title>Forum</title>
</head>
<body>
    <header id='header'>
        <h1>forum</h1>
    </header>
    {% comment %} <div id='a_div'>
        <a class='a_base' id='admin' href="/admin">Admin</a>
        <a class='a_base' id='main' href="{% url 'main' %}" >Главная</a>
        <a class='a_base' id='login' href="{% url 'login' %}" >Вход</a>
        <a class='a_base' id='logout' href="{% url 'logout' %}" >Выход</a>
        <a class='a_base' id='registration' href="{% url 'registration' %}" >Регистрация</a>
    </div> {% endcomment %}
    {% if user.is_authenticated %}
            <div id='a_div'>
                {% if user.is_superuser %}
                    <a class='a_base' id='admin' href="/admin">Admin</a>
                {% endif %}
                <a class='a_base' id='main' href="{% url 'main' %}" >Главная</a>
                <a class='a_base' href="{% url 'profile' %}" >Профиль</a>
                <a class='a_base' id='logout' href="{% url 'logout' %}">Выход</a>
            </div>
        {% else %}
            <div id='a_div'>
                <a class='a_base' id='main' href="{% url 'main' %}" >Главная</a>
                <a class='a_base' id='login' href="{% url 'login' %}">Вход</a>
                <a class='a_base' href="{% url 'registration'%}">Регистрация</a>
            </div>
        {% endif %}
    {% block content %}
    {% endblock %}
    <br><br><br>
    <footer id="footer">
        <p>Андрей Яковенко</p>
        <p>Почта: <a href="mailto:mogneto.r@mail.ru">mogneto.r@mail.ru</a>.</p>
    </footer>
</body>
</html>