{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href={% static "css/base.css" %}>

    {% comment %} <title>Forum</title> {% endcomment %}
</head>
<body>
    <header id='header'>
        <a id='main' href="{% url 'forum:main' %}" ><h1>forum</h1></a>
    </header>
    {% if user.is_authenticated %}
        <div id='a_div'>
            {% if user.is_superuser %}
                <a class='a_base' id='admin' href="/admin">Admin</a>
            {% endif %}
            {% comment %} <a class='a_base' id='main' href="{% url 'main' %}" >Главная</a> {% endcomment %}
            {% comment %} + <a class='a_base' href="{% url 'profile' %}" >Профиль</a> {% endcomment %}
            <a class='a_base' id='logout' href="{% url 'forum:logout_view' %}">Выход</a>
        </div>
    {% else %}
        <div id='a_div'>
            <a class='a_base' id='main' href="{% url 'forum:main' %}" >Главная</a>
            {% comment %} <a class='a_base' id='login' href="{% url 'forum:login' %}">Вход</a> {% endcomment %}
            {% comment %} + <a class='a_base' href="{% url 'registration'%}">Регистрация</a> {% endcomment %}
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    <br><br><br>
    <footer id="footer">
        <p>Андрей Яковенко</p>
        <p>Почта: <a href="mailto:mogneto.r@mail.ru">mogneto.r@mail.ru</a>.</p>
    </footer>
</body>
<script src={%static "js/text_bar.js"%}></script>
</html>