{% extends "card/base.html" %}

{% block content %}
    <div id='topic_head'>
        <h3 id='title_topic'>{{question.text_question}}</h3>
        {% comment %} <p id='title_discription'>{{question.discription}}</p> {% endcomment %}
    </div>
    <div id="window">
        {% for message in messages %}
            {% if message.author == user %}
                {% if message.image %}
                    <p>
                        <div class='text_message_user' id="message-{{message.pk}}">
                            <img style="" class='image_message_user' src={{message.image.url}} alt='foto_author'\>
                            <h3>{{message.text}}</h3>
                            <p>{{message.time|date:"H:i"}}</p>
                            <button class='delete_button' onclick="sendDelete({{message.pk}})"></button>

                        </div>
                    </p>
                {% else %}
                    <p>
                        <div class='text_message_user' id="message-{{message.pk}}">
                            <h3>{{message.text}}</h3>
                            <p>{{message.time|date:"H:i"}}</p>
                            <button class='delete_button' onclick="sendDelete({{message.pk}})"></button>
                        </div>
                    </p>
                {% endif %}
            {% else %}
                {% if message.image %}
                    <p>
                        <div class='text_message_interlocutor' id="message-{{message.pk}}">
                            <img class='image_message_interlocutor' src={{message.image.url}} alt='foto_users'\>
                            <p>{{message.author}}</p>
                            <h3>{{message.text}}</h3><p>{{message.time|date:"H:i"}}</p>
                        </div>
                    </p>
                {% else %}
                    <p>
                        <div class='text_message_interlocutor' id="message-{{message.pk}}">
                            <p>{{message.author}}</p>
                            <h3>{{message.text}}</h3><p>{{message.time|date:"H:i"}}</p>
                        </div>
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div id='text_bar'>
        <div id='text_bar_form'>
            <input id="message_input" type="text" placeholder="Cообщение">
            <input type="file" id="image_input" accept="image/*">
            <button id='text_button' onclick="sendMessage()"></button>
        </div>
    </div>


    
    <script>
        let inp = document.getElementById("message_input");
        addEventListener('keydown', Enter => changeState(Enter));
        function changeState(Enter){
            if (inp.focus){
                console.log(Enter);
            }
        }

        var questionId = {{ question.id }};
        var websocket = new WebSocket(`ws://${window.location.host}/ws/question/${questionId}/`);
    
        websocket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            console.log(data.time);
            var messagesContainer = document.getElementById("window");
    
            if (data.id && !data.message) {
                // Удаление сообщения
                var messageElement = document.getElementById("message-" + data.id);
                if (messageElement) {
                    messageElement.remove();
                }
            } else if (data.message){
                // Добавление нового сообщения
                var messageDiv = document.createElement('div');
                messageDiv.id = "message-" + data.id;
                /*messageDiv.className = data.author === "{{ user.username }}" ? 'text_message_user' : 'text_message_interlocutor';*/
                if (data.author === "{{ user.username }}") {
                    /*console.log("user")*/
                    messageDiv.className = 'text_message_user';
                    var messageContent = `<h3>${data.message}</h3><p>${data.time}</p>`;
                    if (data.image_url) {
                        messageContent += `<img src="${data.image_url}" alt="Image" style="max-width: 200px;">`;
                    }
                    messageContent += `<button class='delete_button' onclick="sendDelete(${data.id})"></button>`;
                }else{
                    /*console.log("qweqweqweq")*/
                    messageDiv.className = 'text_message_interlocutor';
                    var messageContent = `<p><strong>${data.author}</strong></p><h3>${data.message}</h3> ${data.time}`;
                    if (data.image_url) {
                        messageContent += `<img src="${data.image_url}" alt="Image" style="max-width: 200px;">`;
                    }
                }
                /*var messageContent = `<p><strong>${data.author}</strong> ${data.time}</p><h3>${data.message}</h3>`;
                if (data.image_url) {
                    messageContent += `<img src="${data.image_url}" alt="Image" style="max-width: 200px;">`;
                }
                messageContent += `<button onclick="sendDelete(${data.id})">Удалить</button>`;*/
                messageDiv.innerHTML = messageContent;
                messagesContainer.appendChild(messageDiv);
            }
        };
    
        function sendMessage() {
            const messageInput = document.getElementById('message_input');
            const imageInput = document.getElementById('image_input');
            const file = imageInput.files[0];
            const message = messageInput.value;
    
            if (file) {
                const reader = new FileReader();
                reader.onload = function() {
                    websocket.send(JSON.stringify({
                        'text': message,
                        'image': reader.result
                    }));
                };
                reader.readAsDataURL(file);
            } else {
                websocket.send(JSON.stringify({
                    'text': message
                }));
            }
    
            messageInput.value = '';
            imageInput.value = '';
        }
    
        function sendDelete(id) {
            websocket.send(JSON.stringify({'id': id}));
        }
    
        websocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
    
{% endblock %}